name: Build with Rust

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: windows-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"
          
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        
      - name: Build JAR with Gradle
        run: ./gradlew jar
        working-directory: java

      - name: Build rust
        run: cargo build --release --verbose
        working-directory: rust

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: patchbukkit-windows
          path: rust/target/release/*.dll
