name: Build with Rust

on:
    push:
        branches: ["master"]
    pull_request:
        branches: ["master"]

env:
    CARGO_TERM_COLOR: always

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read

        steps:
            - uses: actions/checkout@v4
            - name: Set up JDK 21
              uses: actions/setup-java@v4
              with:
                  java-version: "21"
                  distribution: "temurin"
            - name: Setup Gradle
              uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582
            - name: Build JAR with Gradle
              run: ./gradlew jar
              working-directory: java

            - name: Build rust
              run: cargo build --verbose
              working-directory: rust
            - name: Run rust tests
              run: cargo test --verbose
              working-directory: rust
